@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  height: 100%;
  font-family: Lato, sans-serif;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.main-screen__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  z-index: 20;
}

@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-49%, 0px, 0px);
          transform: translate3d(-49%, 0px, 0px);
}

@media (max-height: 600px) {
  .header__logo {
    -webkit-transform: translate3d(-49%, 0px, 0px) scale3d(0.8, 0.8, 0.8);
            transform: translate3d(-49%, 0px, 0px) scale3d(0.8, 0.8, 0.8);
    top: -10px;
  }
}

@media (max-width: 767px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  padding: 0 35px 0 35px;
  position: relative;
}

.menu__list li:nth-child(2) {
  padding: 0 110px 0 35px;
}

.menu__list li:nth-child(3) {
  padding: 0 35px 0 110px;
}

.menu__list li::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0%;
  width: 3px;
  height: 3px;
  background-color: #4d4959;
  border-radius: 50%;
}

.menu__list li:nth-child(2)::after, .menu__list li:last-child::after {
  display: none;
}

.menu__list li:hover {
  text-shadow: 0.5px 0.5px 0.5px #4d4959, 0 0 1em #faf7f7ed;
}

.menu__link {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}

@media (max-width: 767px) {
  .menu body.lock {
    overflow: hidden;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #eeeff5;
    overflow: auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__body.active {
    top: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 130px 0 20px 0;
  }
  .menu__link {
    font-size: 22px;
  }
  .menu__list li {
    padding: 0 0 35px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 35px 0;
  }
  .menu__list li::after {
    content: '';
    position: absolute;
    top: 70%;
    right: 50%;
    width: 3px;
    height: 3px;
    background-color: #4d4959;
    border-radius: 50%;
  }
  .menu__list li:nth-child(2)::after {
    display: block;
  }
  .menu__burger {
    display: block;
    position: relative;
    top: 0px;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .menu__burger::before, .menu__burger::after {
    content: '';
    position: absolute;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger span {
    position: absolute;
    top: 9px;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .menu__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .menu__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.container {
  max-width: 1120px;
  padding: 0 15px;
  margin: 0px auto;
}

.generation {
  background-color: #f7f7f7;
}

.generation-block {
  padding: 115px 0 140px 0;
}

@media (max-width: 1100px) {
  .generation-block {
    padding: 80px 0 100px 0;
  }
}

@media (max-width: 600px) {
  .generation-block {
    padding: 50px 0 70px 0;
  }
}

.block {
  text-align: center;
}

.block__icon {
  padding: 0 0 24px 0;
}

.block__title {
  padding: 0 0 20px 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.block__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}

.block__text_j {
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}

.block__text_j::after {
  content: '';
  display: block;
  margin: 35px auto 0 auto;
  width: 50px;
  height: 2px;
  background-color: rgba(53, 55, 56, 0.2);
}

@media (max-width: 1180px) {
  .block__text_j::after {
    margin: 20px auto 0 auto;
  }
}

@media (max-width: 900px) {
  .block__text_j::after {
    margin: 15px auto 0 auto;
  }
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.brands__column_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
}

.brands__column_img {
  padding: 0 0 37.15% 0;
}

.brands__column_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.brands__item {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.brands__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.brands__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.brands__logo:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
}

.brands-block {
  padding: 65px 65px 60px 65px;
  position: relative;
  background-color: white;
}

.brands-block::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0 0 0 -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  z-index: 2;
}

@media (max-width: 1180px) {
  .brands-block {
    padding: 45px 45px 40px 45px;
  }
}

@media (max-width: 900px) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brands__item {
    height: auto;
    padding: 0 0 70% 0;
  }
  .brands__logo:hover {
    -webkit-transform: none;
            transform: none;
  }
  .brands__two .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .brands__two .brands__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 767px) {
  .brands__logo {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
  }
}

@media (max-width: 450px) {
  .brands__logo {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
            transform: scale3d(0.5, 0.5, 0.5);
  }
}

.slider {
  text-align: center;
  background-color: #f7f7f7;
}

.slider-item {
  padding: 120px 0 100px 0;
}

.slider-item__icon {
  padding: 0 0 25px 0;
}

.slider-item__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  padding: 0 0 18px 0;
}

.slider-item__title span {
  font-weight: 300;
  color: #848789;
}

.slider-item__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 60px 0;
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #c3baba;
}

.slick-dots li.slick-active button {
  background-color: #c3baba;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1300px) {
  .slider-item {
    padding: 90px 0 70px 0;
  }
  .slick-dots {
    padding: 0 0 40px 0;
  }
}

@media (max-width: 900px) {
  .slider-item {
    padding: 70px 0 50px 0;
  }
  .slick-dots {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 500px) {
  .slider-item {
    padding: 45px 0 30px 0;
  }
  .slick-dots {
    padding: 0 0 15px 0;
  }
}

.shop-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}

.shop-column__b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.item__logo {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(115, 185, 156, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.item__logo span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding: 10px 0 0 0;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
}

.item__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.block-shop__item {
  height: auto;
  padding: 0 0 50% 0;
}

.block-shop__item_l {
  padding: 0 0 100% 0;
}

.block-shop__item_b {
  padding: 0 0 200% 0;
}

.shop-footer {
  background-color: #282f35;
  padding: 73px 0;
  text-align: center;
}

.shop-footer__button {
  display: inline-block;
  width: 300px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.49);
  padding: 15px 0 0 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.shop-footer__button span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.shop-footer__button:hover {
  -webkit-box-shadow: 0 0 10px rgba(245, 242, 242, 0.5);
          box-shadow: 0 0 10px rgba(245, 242, 242, 0.5);
}

@media (max-width: 1100px) {
  .shop-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shop-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .shop-column__b {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767px) {
  .shop-footer {
    padding: 45px 0;
  }
}

.subscribe {
  background-color: white;
}

.subscribe__body {
  max-width: 534px;
  padding: 110px 0 110px 0;
  margin: 0 auto;
  text-align: center;
}

.subscribe__logo {
  margin: 0 0 35px 0;
}

.subscribe__lable {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin: 0 0 35px 0;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 8px 0 0;
}

.subscribe__input input {
  width: 400px;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  padding: 0 0 0 28px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}

.subscribe__input input:focus {
  font-style: normal;
  color: #2e2c2c;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
}

.subscribe__btn {
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

@media (max-width: 1100px) {
  .subscribe__body {
    padding: 80px 0 80px 0;
  }
}

@media (max-width: 767px) {
  .subscribe__body {
    padding: 50px 0 50px 0;
  }
}

@media (max-width: 500px) {
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .subscribe__btn {
    width: 100%;
  }
  .subscribe__input {
    padding: 0 0 8px 0;
  }
  .subscribe__input input {
    width: 100%;
  }
}

.footer {
  background-color: #f7f7f7;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.footer__adress p {
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
  line-height: 17px;
  color: #848789;
}

.footer__adress p:first-child {
  font-size: 16px;
  font-weight: 700;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social__link {
  margin: 0 8px 0 0;
}

.dev {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dev__text {
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  padding: 0 10px 0 0;
}

@media (max-width: 1100px) {
  .footer__row {
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 30px 0;
  }
  .footer__social {
    padding: 15px 0;
  }
}
