@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

//стили для фоновых изображений--------------------------------------------------------------------
.ibg{

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	}
	
	.ibg img{
	
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	}

// ----------------------------------------------------------------------------------------------------
body {
	height: 100%;
	font-family: Lato, sans-serif;
}
@media (max-width:767px) {

	body.lock {
		overflow: hidden;
	}
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.page {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.main-screen {
	position: relative;
	flex: 0 0 100%;

		&__bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
}

// ---------  header-menu  -----------------------------------------------------------------------------

.header {
	position: absolute;
	top: 35px;
	left: 0;
	width: 100%;
	z-index: 20;

	@media (max-width:767px) {
		top: 15px;
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 85px;
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate3d(-49%, 0px, 0px);
	}
	@media (max-height:600px) {
		&__logo {
			transform: translate3d(-49%, 0px, 0px) scale3d(0.8, 0.8, 0.8);
			top: -10px;
		}
	}
}
.header-menu {
	@media (max-width:767px) {
		display: flex;
		position: absolute;
		width: 100%;
		justify-content: flex-end;
	}
}
.menu {

	&__list {
		display: flex;
	}

	&__list li {
		padding: 0 35px 0 35px;
		position: relative;

		&:nth-child(2) {
			padding: 0 110px 0 35px;
		}
		&:nth-child(3) {
			padding: 0 35px 0 110px;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0%;
			width: 3px;
			height: 3px;
			background-color: #4d4959;
			border-radius: 50%;
		}

		&:nth-child(2),
		&:last-child {
			&::after {
				display: none;
			}
		}

		&:hover {
			text-shadow: 0.5px 0.5px 0.5px #4d4959, 0 0 1em #faf7f7ed;
		}
	}

	&__link {
		font-size: 13px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #4d4959;
	}

	// ---------  adaptiv  -----------------------------------------------------------------------------

	@media (max-width:767px) {

		body.lock {
			overflow: hidden;
		}

		&__body {
			position: fixed;
			width: 100%;
			height: 100%;
			top: -100%;
			left: 0;
			background-color: #eeeff5;
			overflow: auto;
			transition: all 0.5s;
		}
		&__body.active {
			top: 0;
		}


		&__list {
			flex-direction: column;
			align-items: center;
			padding: 130px 0 20px 0;
		}

		&__link {
			font-size: 22px;
		}

		&__list li {
			padding: 0 0 35px 0;

			&:nth-child(2),
			&:nth-child(3) {
				padding: 0 0 35px 0;
			}
	
			&::after {
				content: '';
				position: absolute;
				top: 70%;
				right: 50%;
				width: 3px;
				height: 3px;
				background-color: #4d4959;
				border-radius: 50%;
			}
	
			&:nth-child(2) {
				&::after {
					display: block;
				}
			}
		}
		// ---------  burger  ---------------------------------------------------
		
		&__burger {
			display: block;
			position: relative;
			top: 0px;
			right: 20px;
			width: 30px;
			height: 20px;
			z-index: 3;

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 0%;
				width: 100%;
				height: 2px;
				background-color: #4d4959;
				transition: all 0.5s;
			}

			&::before {
				top: 0;
				}
			&::after {
				bottom: 0;
			}
			span {
				position: absolute;
				top: 9px;
				left: 0%;
				width: 100%;
				height: 2px;
				background-color: #4d4959;
				transition: all 0.5s;
			}
		}

		&__burger.active::before {
			transform: rotate(45deg);
			top: 9px;
		}
		&__burger.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		&__burger.active span {
			transform: scale(0);
		}

	}
}

//------------------------------------------------   CONTENT  -------------------------------------
.container {
	max-width: 1120px;
	padding: 0 15px;
	margin: 0px auto;
}
.content {
}
.generation {
	background-color: #f7f7f7;
}

.generation-block {
	padding: 115px 0 140px 0;

	@media (max-width:1100px) {
		padding: 80px 0 100px 0;
	}

	@media (max-width:600px) {
		padding: 50px 0 70px 0;
	}
}
.block {
	text-align: center;
		&__icon {
			padding: 0 0 24px 0;
		}

		&__title {
			padding: 0 0 20px 0;
			font-size: 18px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #353738;
		}

		&__text {
			font-size: 18px;
			line-height: 34px;
			font-weight: 400;
			color: #848789;

			&_j {
				font-size: 16px;
				line-height: 30px;
				text-align: justify;

				&::after {
					content: '';
					display: block;
					margin: 35px auto 0 auto;
					width: 50px;
					height: 2px;
					background-color: rgba(53,55,56,0.2);
				}

				@media (max-width:1180px) {
					&::after{
						margin: 20px auto 0 auto;
					}
				}
				@media (max-width:900px) {
					&::after{
						margin: 15px auto 0 auto;
					}
				}
			}
		}
}
//--------------------------------------------   BRANDS  -----------------------------------------
.brands {

	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.333%;

		&_big {
			flex: 0 1 66.666%;
		}

		&_img {
			padding: 0 0 37.15% 0;
		}

		&_img img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__item {
		height: 100%;
		position: relative;
		overflow: hidden;

	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 3;
		transition: all 1s;
	}
	&__logo:hover {
		transform: scale3d(1.2, 1.2, 1.2);
	}
}

.brands-block {
	padding: 65px 65px 60px 65px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: -10px;
		left: 50%;
		margin: 0 0 0 -10px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid white;
		z-index: 2;
	}
	
}
@media (max-width:1180px) {
	.brands-block {
		padding: 45px 45px 40px 45px;
	}
}
@media (max-width: 900px) {
	.brands__row {
		flex-direction: column;
	}
	.brands__item {
		height: auto;
		padding: 0 0 70% 0;
	}
	.brands__logo:hover {
		transform: none;
	}

	.brands__two {
			.brands__column:nth-child(1) {
				order: 2;
			}
			.brands__column:nth-child(2) {
				order: 1;
			}
		}
}

@media (max-width: 767px) {

	.brands__logo {
		transform: scale3d(0.8, 0.8, 0.8);
	}
}

@media (max-width: 450px) {

	.brands__logo {
		transform: scale3d(0.5, 0.5, 0.5);
	}
}


//--------------------------------------------   SLIDER  -----------------------------------------

.slider {
	text-align: center;
	background-color: #f7f7f7;
}

.slider-body {
}
.slider-item {
	padding: 120px 0 100px 0;

		&__icon {
			padding: 0 0 25px 0;
		}

		&__title {
			font-size: 18px;
			line-height: 1.2;
			font-weight: 700;
			letter-spacing: 0.1em;
			color: #353738;
			padding: 0 0 18px 0;

			span {
				font-weight: 300;
				color: #848789;
			}
		}

		&__text {
			font-size: 24px;
			line-height: 34px;
			font-weight: 400;
			font-style: italic;
			color: #848789;
		}
}

.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
	align-items: flex-start;
}
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 60px 0;
}
.slick-dots li {
	list-style: none;
	margin: 0 10px;
}

.slick-dots button {
	font-size: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid rgb(195, 186, 186);
}
.slick-dots li.slick-active button {
	background-color: rgb(195, 186, 186);
	transition: all 0.3s;
}
@media (max-width:1300px) {
	.slider-item {
		padding: 90px 0 70px 0;
	}
	.slick-dots {
		padding: 0 0 40px 0;
	}
}
@media (max-width:900px) {
	.slider-item {
		padding: 70px 0 50px 0;
	}
	.slick-dots {
		padding: 0 0 20px 0;
	}
}
@media (max-width:500px) {
	.slider-item {
		padding: 45px 0 30px 0;
	}
	.slick-dots {
		padding: 0 0 15px 0;
	}
}

//--------------------------------------------   SHOP  -----------------------------------------

.shop {
}
.shop-body {
	display: flex;
}
.shop-column {
	flex: 0 1 16.666%;

		&__b {
			flex: 0 1 33.333%;
		}
}
.shop-block {

}

.item {
	display: block;
	position: relative;
	height: 100%;
	overflow: hidden;

		&__logo {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: rgba(115, 185, 156, 0.6);
			opacity: 0;
			visibility: hidden;
			transition: all 1s;

			span {
				font-size: 14px;
				line-height: 1.2;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.2em;
				color: #ffffff;
				padding: 10px 0 0 0;
			}
		}

		&:hover {
			.item__logo {
				opacity: 1;
				visibility: visible;
				transform: scale3d(1.2, 1.2, 1.2);
			}
		}

		&__image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
}

.block-shop {
	height: 100%;

		&__row {
			display: flex;
		}

		&__column {
			flex: 0 1 50%;
		}

		&__item {
			height: auto;
			padding: 0 0 50% 0;
			
			&_l {
				padding: 0 0 100% 0;
			}

			&_b {
				padding: 0 0 200% 0;
			}
		}
}

.shop-footer {
	background-color: #282f35;
	padding: 73px 0;
	text-align: center;

		&__button {
			display: inline-block;
			width: 300px;
			height: 50px;
			background-color: rgba(255,255,255,0.0);
			border: 1px solid rgba(255,255,255,0.49);
			padding: 15px 0 0 0;

		span {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		}
		}

}

@media (max-width:1100px) {
	.shop-body {
		flex-wrap: wrap;
	}
	.shop-column {
		flex: 0 1 50%;
	
			&__b {
				flex: 0 1 100%;
			}
	}
}

@media (max-width:767px) {
	.shop-footer {
		padding: 45px 0;
	}
}

//--------------------------------------------   FORM  -----------------------------------------

.subscribe {

	&__body {
		max-width: 534px;
		padding: 110px 0 110px 0;
		margin: 0 auto;
		text-align: center;
	}

	&__logo {
		margin: 0 0 35px 0;
	}

	&__lable {
		font-size: 24px;
		line-height: 34px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
		margin: 0 0 35px 0;
	}

	&__form {
		display: flex;
	}

	&__input {
		flex: 1 1 auto;
		padding: 0 8px 0 0;

		input {
			width: 400px;
			height: 69px;
			background-color: #ffffff;
			border: 1px solid #d3d7d9;
			padding: 0 0 0 28px;
			font-size: 20px;
			line-height: 24px;
			font-weight: 400;
			font-style: italic;
			color: #929292;

			&:focus {
				font-style: normal;
				color: #2e2c2c;
				box-shadow: 0 0 10px rgba(0,0,0,0.5);
			}
		}
	}
	
	&__button {
		flex: 0 0 126px;
	}

	&__btn {
		width: 126px;
		height: 69px;
		background-color: #64c29e;
		font-size: 24px;
		line-height: 24px;
		font-weight: 300;
		color: #ffffff;
	}

	@media (max-width:1100px) {
		&__body {
			padding: 80px 0 80px 0;
		}
	}

	@media (max-width:767px) {
		&__body {
			padding: 50px 0 50px 0;
		}
	}

	@media (max-width:500px) {
		&__form {
			flex-direction: column;
		}
		&__button {
			flex: 0 0 100%;
		}
		&__btn {
			width: 100%;
		}
		&__input {
			padding: 0 0 8px 0;
			input {
				width: 100%;
			}
		}
	}

}
//--------------------------------------------   FOOTER -----------------------------------------
.footer {
	background-color: #f7f7f7;

	&__row {
		display: flex;
		padding: 80px 0;
		align-items: center;
	}

	&__column {
		flex: 1 1 33.333%;
	}

	&__adress {

		p {
		font-size: 13.9px;
		font-weight: 400;
		font-style: italic;
		line-height: 17px;
		color: #848789;

		&:first-child {
			font-size: 16px;
			font-weight: 700;
		}
		}

	}

	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__dev {
		display: flex;
		justify-content: flex-end;

	}
}

.social {

	&__link {
		margin: 0 8px 0 0;
	}
}
.dev {
	align-items: center;
	&__text {
		font-size: 13.9px;
		line-height: 17px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
		padding: 0 10px 0 0;
	}

	&__logo {
	}
}

@media (max-width:1100px) {
	.footer__row {
		padding: 50px 0;
	}
}
@media (max-width:600px) {
	.footer__row {
		flex-direction: column;
		text-align: center;
		padding: 30px 0;
	}

	.footer__social {
		padding: 15px 0;
	}
}


